@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*,
*::before,
*::after 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li 
{ 
    list-style: none; 
}

a 
{
  text-decoration: none;
  color: inherit;
}

img 
{ 
    height: auto; 
}

button 
{
  background: none;
  border: none;
  font: inherit;
}

button 
{ 
    cursor: pointer; 
}

html
{
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

body
{
    /*background-color: white;*/
    font-size: 1.6rem;
    line-height: 1.8;
    overflow-x: hidden;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: greenyellow;
}

.container
{
    padding-inline: 15px;
}
.section-subtitle 
{
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.h1,
.h2 
{ 
    font-weight: 300;
}
  
.h2,
.h3 
{ 
    line-height: 1.6; 
}
  
.h2 
{
    font-size: 8px;
    color: black;
}
  
.h3 
{
    font-size: 5px;
    color: black;
}
  
.h4 
{  
    color: wheat;
    font-size: 6px;
}
.btn 
{
    position: relative;
    background-color: aquamarine;
    color: black;
    font-weight: 12px;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}
.section 
{ 
    padding-block: block; 
}


.section-text
{ 
    line-height: 2;
}
  

/*header*/
.button-header
{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;;
    color: black;
}

.logo
{
    cursor: pointer;
    margin-right: auto;
    background-size: cover;
    float: left;
}

.navbar
{
    list-style: none;
    top: 100%;
}
 
.navbar-links
{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}
.navbar-links a
 {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease 0s;
 }

 .navbar-links a:hover
 {
    color: blueviolet;
 }
 .navbar-links a.active
 {
    color: blueviolet;
 }

 .navbar-links a.active:after,
 .navbar-links a:hover::after
 {
    content: "";
    width: 30%;
    height: 2px;
    background: purple ;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
 
.button-header
 {
    padding: 9px 25px;
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in 0.3s;
 }
 .button-header:hover
 {
    color: greenyellow;
 }
 .button-header:hover::before
 {
    height: 100%;
 }

 .button-header::before
 {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
 }

 /*HERO*/
 .hero 
 {
    background-image: url('./assets/photos/img65.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    min-height: 700px;
    padding-block: 120px 60px;
    display: grid;
    align-items: center;
}

.hero-title 
{
    font-size: 50px;
    margin-block: 30px;
    line-height: 1.2;
}
  
.hero-text 
{
    font-size: 30px;
    letter-spacing: -1px;
    max-width: 50ch;
    margin-block-end: 30px;
}
  


/*FEATURES*/
.features 
{
    padding-block-start: 0;
    background-color: transparent;
}
  
.features-list 
{
    display: flex;
    gap: 500px;
}
  
.features-item
{
    display: flex;
    align-items: flex-start;
    gap: 2px;
}
  
.features-item
{
    color: blueviolet;
    font-size: 5.5rem;
    margin-block-start: 10px;
} 
  
  
.features-item .item-title 
{ 
    margin-block-end: 10px;
    font-size: 25px; 
    color: black;
}
  
.features-item .item-text 
{
    max-width: 25ch;
    color: black;
    font-size: 10px;
}



/*ABOUT*/
.container-about
{
    border-radius: 5px;
    background-color: #f2f3f4;
    padding: 10px;
}

h2,p
{
    color: black;
    margin-bottom: 20px;
}

h2
{
    font-size: 50px;
}
p
{
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
}
.about-title
{
    font-size: 50px;
}

.about-subtitle
{
    font-size: 18px;
}

.column,
.columnn
{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.column img
{
    width: 40%;
}

.row::after
{
    content: "";
    display: table;
    clear: both;
}
.about
{ 
    padding-block-start: 120px; 
}

.about-banner 
{
  position: relative;
  max-width: max-content;
  margin-block-end: 30px;
}
.about-img 
{
  max-width: max-content;
  margin-block-end: 30px;
}

.about .section-subtitle 
{ 
    margin-block-end: 10px; 
}

.tab-nav 
{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-block: 25px 35px;
}

.tab-btn 
{
  background-color: blueviolet;
  color: greenyellow;
  font-size: 18px;
  font-weight: 50px;
  padding: 10px 32px;
  border-radius: 25px;
}

.tab-btn.active 
{
  background-color: greenyellow;
  color: blueviolet;
}

.section-text
{
    font-size: 18px;
}


/*SERVICE*/
.service-title
{
    font-size: 50px;
}

.service-subtitle
{
    font-size: 15px;
}
.service 
{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center top;
    margin-block-start: -200px;
    padding-block-start: 200px;
}
  
.service-lists
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: antiquewhite;
}
.containt
{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containt .boxa
{
    position: relative;
    width: 450px;
    background-image: url(./assets/photos/jolie_go.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 80px 90px;
    box-shadow: 0 15px 45px rgba(0,0,0,.5);
}
.containt .boxb
{
    position: relative;
    width: 450px;
    background-image: url(./assets/photos/img45.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 80px 90px;
    box-shadow: 0 15px 45px rgba(0,0,0,.5);
}
.containt .boxc
{
    position: relative;
    width: 450px;
    background-image: url(./assets/photos/img_head.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 80px 90px;
    box-shadow: 0 15px 45px rgba(0,0,0,.5);
}
.containt .boxa:before,
.containt .boxb:before,
.containt .boxc:before
{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blueviolet;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.containt .boxa:hover:before,
.containt .boxb:hover:before,
.containt .boxc:hover:before
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}


.containt .boxa h3,
.containt .boxb h3,
.containt .boxc h3
{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: transparent;
    transition: 0.5s;
}
.containt .boxa:hover h3,
.containt .boxa:hover p,
.containt .boxa:hover a,
.containt .boxb:hover h3,
.containt .boxb:hover p,
.containt .boxb:hover a,
.containt .boxc:hover h3,
.containt .boxc:hover p,
.containt .boxc:hover a
{
    color: #fff;

}

.containt .boxa p,
.containt .boxa a,
.containt .boxb p,
.containt .boxb a,
.containt .boxc p,
.containt .boxc a
{
    position: relative;
    z-index: 2;
    color: transparent;
    transition: 0.5s;
}
  
  
.btn-link 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    margin-block-start: 15px;
}
  
.btn-link span 
{ 
    text-decoration: underline; 
}

/*FOOTER*/
.footer 
{
    background-color: whitesmoke;
    color: white;
    padding-block: 40px;
    bottom: 0;
    padding: 0 0 0 0;
}
  
.footer .container 
{
    margin-inline: 15px;
    background-color: whitesmoke;
    padding: 20px;
}
  
.footer-list,
.copyright 
{
    max-width: max-content;
    margin-inline: auto;
}
  
.footer-list 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 40px;
    margin-block-end: 15px;
}
  
.footer-link
{
    text-decoration: underline;
}
  
.footer-link
{  
    color: black; 
}
  

.copyright 
{ 
    text-align: center; 
}
